

<html>

<head>
    <title>
        mi pagina 2
    </title>

   <meta name="description" content="Esta es una prueba de mi pagina de html"/>
   <meta name="keywords" content="diseño, desarrollo, paginas web">



</head>

<body>



   <!-- <div id="header"> cabecera </div> antes se usaba esto para la cabaecera ahora el div se usa solo para imagenes o contenido grafico-->

<header>

    <nav> <!-- menu de navegacion -->
    <ul>
        <li><a href="/agregarLibro/">Agregar Libro</a></li>
        <li><a href="/agregarNovedad/">Agregar Novedad</a></li>
        <li><a href="/verLibros/">Ver Libros</a></li>
        <li><a href="/verNovedades/">Ver Novedades</a></li>
    </ul>
    </nav>

</header>


</body>

</html>