<!doctype html>
{% extends 'base.html' %}

{% block content %}

	<form>
		{{ filter.form.as_p }}
		<button type='submit'>Buscar</button>
	</form>

{% for libro in filter.qs %}

<div id="lista">
	<h1><a href="/verCapitulos/{{libro.id}}">{{libro.titulo}}</a></h1>
	<img style="float:left" width=300px height=400p src="{{libro.imagen.url}}">
	<p style="font-size:20px">
	<br><strong>Paginas: </strong>{{libro.nropaginas}}
	<br><strong>Capitulos: </strong>{{libro.nrocapitulos}}
	<br><strong>ISBN: </strong>{{libro.isbn}}
	<br><strong>Año de Edición: </strong>{{libro.agnoedicion}}
	<br><strong>Autor: </strong>{{libro.autor}}
	<br><strong>Editorial: </strong>{{libro.editorial}}
	<br><strong>Trailer: </strong>{{libro.trailer}}</p>
</div>
<br><br><br>
	{% endfor %}

</table>

{% endblock %}