<!doctype html>
{% extends 'base.html' %}

{% block content %}

	<form>
		{{ filter.form.as_p }}
		<button type='submit'>Buscar</button>
	</form>

{% for libro in filter.qs %}

<div id="lista">
	<h1><a href="/verCapitulos/{{libro.id}}">{{libro.titulo}}</a></h1>
	<img style="float:left" width=300px height=400p src="{{libro.imagen.url}}">
	<p style="font-size:20px">Trailer: {{libro.trailer}}
	<br>Paginas: {{libro.nropaginas}}
	<br>Capitulos: {{libro.nrocapitulos}}
	<br>ISBN: {{libro.isbn}}
	<br>Año de Edición: {{libro.agnoedicion}}
	<br>Autor: {{libro.autor}}
	<br>Editorial: {{libro.editorial}}</p>
</div>

	{% endfor %}

</table>

{% endblock %}